# Assignment1

1.  In the below elements which of them are values or an expression? eg:- values can be
    integer or string and expressions will be mathematical operators.

*                 Expression
&#39;hello&#39;   Value
-87.8             Value
-                 Expression
/                 Expression
+                 Expression
6                 Expression

2. What is the difference between string and variable?

   String                             Variable
   Its a Datatype                     Store the datatypes 
   Enclosed with ""                   Assign the datatypes by using =
   Eg "Welcome" is a sting            s="Welcome
                                      s is variable

3. Describe three different data types.
    1.Number datatype            - int, float 
    2. Sequence datatype         - string list, tuple, set
    3. Mapping datatype          - Dectionary

4. What is an expression made up of? What do all expressions do?

    Expression is representung something like a number, a string, or an instance of a class. Any value is an expression

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
    Anything that does something is a statement. Any assignment to a variable or function call is a statement. Any value contained in that statement in an expression.

spam = 10 is a statement that assigns spam to the value of the expression "10".

In [5]:
#6. After running the following code, what does the variable bacon contain? the is  22 
bacon = 22
bacon + 1

23

In [6]:
bacon

22

In [7]:
#What should the values of the following two terms be? 
'spam' + 'spamspam' #the answer is 'spamspamspam'

'spamspamspam'

In [8]:
'spam'*3
#the answer is spamspamspam'

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
The variable name s'I have eaten '+ 99 + 'burrito' hold not be a number it allways be characher or string

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
intiger --> int()
float   --> float()
string  -->str()  

above functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [9]:
#Why does this expression cause an error? How can you fix it?
'I have eaten '+ 99 + 'burrito' 
#diffrent data type expression cannot concordinate .  here 99 is intiger cannot concordinate with stirng
#To fix this put 99 inside ''(single quotes)

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten '+ '99 ' + 'burrito'

'I have eaten 99 burrito'