In [1]:
#map,  reduce, filter

In [2]:
l = [2,4,5,6,7,8]
#do one thing try to find out square of each and every number and then give me a output in a list

In [3]:
l1=[]
for i in l:
    l1.append(i**2)

In [4]:
l1

[4, 16, 25, 36, 49, 64]

#lets try to solve the same problem using map() function

map()-inbuilt function inside a python
what actually map() do?

basically take two arguments --- function and second one is iterable(check shift+tab to check)

In [5]:
def sq(n):
    return n**2

In [8]:
map(sq,l)

In [9]:
list(map(sq,l))

[4, 16, 25, 36, 49, 64]

--->map always map a perticular function with each and every element present inside your iterable

--->map always consider a function as a first argument
---->I can pass any complex function in a map just as a parameter

In [10]:
#write lambda function in map()

In [11]:
map(lambda x : x**2,l)

In [12]:
list(map(lambda x : x**2,l))

[4, 16, 25, 36, 49, 64]

---->if we have two arguments we cannot use map beacuse it is not able to map

In [13]:
l = [2,4,5,6,7,8]

In [14]:
#try to convert each element present in a list to a string
map(lambda x : str(x),l)

In [15]:
list(map(lambda x : str(x),l))

['2', '4', '5', '6', '7', '8']

In [16]:
def str_c(n):
    return str(n)

In [17]:
list(map(str_c,l))

['2', '4', '5', '6', '7', '8']

In [20]:
list(map(str,l))   #str is a inbuilt function

['2', '4', '5', '6', '7', '8']

#reduce
--->inbuilt function
but we have to import it

In [22]:
from functools import reduce

#by default reduce is not available
#it is available in a package called functool
#so from this package we have import reduce

In [23]:
#Now lets understand how reduce works or how it is going to give output

In [36]:
l = [2,4,5,6,7,8,9,12]

#can you plaese give me summation of each and every element present in a list

In [37]:
sum(l)

53

In [38]:
#multiplication --you can do using loops or functions 
#same thing can be done using rerduce function
# areguments ---function, iterable

In [39]:
reduce(lambda a,b : a+b,l)

53

In [40]:
reduce(lambda a,b : a*b,l)

1451520

#Filter()
--->As it's name suggest it is filtering the records or data set
--->argument--function or None, iterable
--->filter always looks for true whenever condiotion is true it is gonna give a true output

In [44]:
l = [2,4,5,6,7,8,9,12]

In [45]:
#can you try to filter the data which is even number

In [51]:
filter(lambda x : x%2==0,l)

In [52]:
list(filter(lambda x : x%2==0,l))

[2, 4, 6, 8, 12]

In [53]:
#odd
list(filter(lambda x : x%2!=0,l))

[5, 7, 9]

In [54]:
def check_evn(n):
    if n%2 == 0:
        return True

In [55]:
list(filter(check_evn,l))

[2, 4, 6, 8, 12]

# Recursion

---->The term Recursion can be defined as the process of defining something in terms of itself. In simple words, it is a process in which a function calls itself directly or indirectly.

Advantages of using recursion

-->A complicated function can be split down into smaller sub-problems utilizing recursion.
-->Sequence creation is simpler through recursion than utilizing any nested iteration.
-->Recursive functions render the code look simple and effective.

Disadvantages of using recursion

-->A lot of memory and time is taken through recursive calls which makes it expensive for use.
-->Recursive functions are challenging to debug.
-->The reasoning behind recursion can sometimes be tough to think through.

In [56]:
def factorial(x):
    if x == 1: # This is the base case
        return 1

    else: # This is the recursive case
        return(x * factorial(x-1))

print(factorial(4))

24

-->Now let's analyse what is going on in the above recursive function.

-->First, when we pass the integer 4 into the function, it goes to the recursive case return(x * factorial(x-1)) which will give us return(4 * factorial(3)).
 
-->Next, the function will call factorial(3) which will give us return(3 * factorial(2)) and it goes on until we have x == 1 (the base case) and then the recursion will terminate. This means that if we do not have a base case to stop the recursion, the function will continue to call itself indefinitely.
 
-->At the end we will have return(4 * 3 * 2 * 1)

In [57]:
def countdown(n):
    print(n)
    if n > 0:
        countdown(n - 1)

In [58]:
countdown(5)

5
4
3
2
1
0

In [59]:
def countdown(n):
    while n >= 0:
        print(n)
        n -= 1

In [60]:
countdown(5)

5
4
3
2
1
0

In [ ]:
Q1.find a perticular element in a list using a function
Q2.q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 
q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory .
q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [62]:
#q1
row = int(input("Please enter how many rows you want to print: "))
print()
for i in range(row):
    print("prachi "*(i+1))

Please enter how many rows you want to print: 4

prachi
prachi prachi
prachi prachi prachi
prachi prachi prachi prachi

In [63]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("prachi "*n).center(30,' '))

           prachi
        prachi prachi
    prachi prachi prachi
        prachi prachi
           prachi

In [64]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"prachi" , "k2" : "Anannd","k3":
            "analytics" , 3:6 , 7:8} , ["Anand" , "data analysis"]]

In [65]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['Anand', 'data analysis']

In [66]:
for i in l :
    if type(i) == dict :
        print(i)

{'k1': 'prachi', 'k2': 'Anannd', 'k3': 'analytics', 3: 6, 7: 8}

In [67]:
for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [70]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [71]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [82]:
l=[12,'prachi',"anand","analystics",12,17,'a',"Vaibhav",19,'12','sumit']\
l_1 = []

SyntaxError: invalid syntax (789639791.py, line 2)

In [78]:

def check_str(n):
    for i in n:ch
        if type(i)==str:
            l1.append(i)

SyntaxError: expected 'else' after 'if' expression (337744901.py, line 1)