In [1]:
#map(),reduce(),filter()

In [2]:
l=[2,3,4,5,6,7,8]

In [3]:
l1=[]
for i in l:
    l1.append(i**2)

In [4]:
l1

[4, 9, 16, 25, 36, 49, 64]

In [6]:
def sq_n(n):
    return n**2

In [7]:
map(sq_n,l)

In [8]:
list(map(sq_n,l))

[4, 9, 16, 25, 36, 49, 64]

In [9]:
list(map(lambda x: x**2,l))

[4, 9, 16, 25, 36, 49, 64]

In [10]:
l

[2, 3, 4, 5, 6, 7, 8]

In [11]:
list(map(lambda x:str(x),l))

['2', '3', '4', '5', '6', '7', '8']

In [13]:
list(map(str,l)) #str is a inbuilt function

['2', '3', '4', '5', '6', '7', '8']

In [14]:
#reduce
from functools import reduce

In [15]:
l=[2,3,4,5,6,7]

In [16]:
sum(l)

27

In [20]:
reduce(lambda a,b,c,d,e,f:a+b+c+d+e+f,l )

TypeError: <lambda>() missing 4 required positional arguments: 'c', 'd', 'e', and 'f'

In [18]:
def sum_n(a,b):
    return a+b

In [19]:
reduce(sum_n,l )

27

In [ ]:
a=2,b=3 --->a+b-->5-->a,b=4--->9-->a,b=5--->14-->a,b=6--->20,a,b=7--->27

In [23]:
l=[2,3,4,5]

for i in l:
    print(i*i)

4
9
16
25

In [22]:
reduce(lambda a,b:a*b,l)

120

In [24]:
l=lambda a,b:a+b

In [25]:
l(2,3)

5

In [26]:
l([1,2,3])

TypeError: <lambda>() missing 1 required positional argument: 'b'

In [30]:
#try to filter out all the all the even elements and store them inside a  list
l=[23,45,67,89,12,23,10]
l1=[]

for i in l:
    if i%2==0:
        l1.append(i)

In [28]:
l1

[12, 10]

In [36]:
l=[23,45,67,89,12,23,10]

In [39]:
list(filter(lambda x: x%2==0,l))

[12, 10]

In [34]:
l1(12)

True

In [40]:
l2=[12,34,56,79,11,23,47,800]

In [44]:
list(filter(lambda x: x%2!=0,l2))

[79, 11, 23, 47]

In [43]:
list(filter(lambda x: x%2!=0,l2))

[79, 11, 23, 47]

In [45]:
def check_evn(n):
    if n%2 ==0:
        return True

In [46]:
list(filter(check_evn,l))

[12, 10]

In [ ]:
map,reduce,filter

In [47]:
#Recursion
def factorial(x):
    if x==1:
        return 1
    else:
        return (x* factorial(x-1))

In [48]:
factorial(4)--->4*3*2*1

24

In [ ]:
---->x* factorial(x-1)--->4*factorial(3)--->3*factorial(2)--->2*factorial(1)---->1--->terminate

In [49]:
def countdown(n):
    print(n)
    if n>0:
        countdown(n-1)

In [50]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
10-->countdown(9)-->9--->countdown(8)---->8--->

In [58]:
l=[12,'prachi',"anand","analystics",12,17,'a',"Vaibhav",19,'12','sumit']

string_list = list(filter(lambda x: isinstance(x, list), l))

In [59]:
string_list

[]

In [53]:
string_list = list(filter(lambda x: type(x) == str, l))

In [54]:
string_list

['prachi', 'anand', 'analystics', 'a', 'Vaibhav', '12', 'sumit']

In [69]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"prachi" , "k2" : "Anannd","k3":
            "analytics" , 3:6 , 7:8} , ["Anand" , "data analysis"]]

In [ ]:
1.Try to extract all the list entity 
2.extract all the dict enteties
3.extract all the dict tuples

In [56]:
list(filter(lambda x: type(x) == list, l))

[[1, 2, 3, 4], ['Anand', 'data analysis']]

In [57]:
list(filter(lambda x: type(x) == dict, l))

[{'k1': 'prachi', 'k2': 'Anannd', 'k3': 'analytics', 3: 6, 7: 8}]

In [70]:

for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [85]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"prachi" , "k2" : "Anannd","k3":
            "analytics" , 3:6 , 7:8} , ["Anand" , "data analysis"],0,False]
list(filter(lambda x: type(x) == int, l))

[0]

In [75]:
string_list = list(filter(lambda x: isinstance(x, set), l))

In [76]:
string_list

[{4, 5, 23, 45}]

In [91]:
#Try to extract all the numerical data it may b a part of dict key and values

In [104]:
def check_num(l):
    l1=[]
    l2=[]
    for i in l:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    l1.append(j)
                else:
                    l2.append(j)
                    
        if type(i)==dict:
            for k in i.items():
                for g in k:
                    if type(g)==int:
                        l1.append(g)
                    else:
                        l2.append(g)
    return l1,l2

In [105]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"prachi" , "k2" : "Anannd","k3":
            "analytics" , 3:6 , 7:8} , ["Anand" , "data analysis"],0,False]
check_num(l)

([1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8],
 ['k1', 'prachi', 'k2', 'Anannd', 'k3', 'analytics', 'Anand', 'data analysis'])

In [106]:
l2

['k1', 'prachi', 'k2', 'Anannd', 'k3', 'analytics', 'Anand', 'data analysis']

In [107]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [108]:
l2

['k1', 'prachi', 'k2', 'Anannd', 'k3', 'analytics', 'Anand', 'data analysis']

In [102]:
type(l1)

list

In [113]:
#Try to give summation of all the numeric datareduce(sum,l1))
from functools import reduce
reduce(lambda a,b:a+b,l1)

156

In [114]:
reduce(lambda a,b:a*b,l1)

908605071360000

In [116]:
reduce(lambda a,b:a+b,l2)

'k1prachik2Ananndk3analyticsAnanddata analysis'

In [117]:
#filter out all the odd values out all numeric data which is a part of a list
#extract "analytics" from the given list
#

In [120]:
a=6 #global variable
def summ(b):
    return a+b

In [119]:
summ(7)

13

In [121]:
def summ():
    a=9
    b=7
    return a+b

In [122]:
summ()

16

In [126]:
a=6 #global variable
def summ(b):
    a=9
    return a+b

In [124]:
summ(10)

19

In [127]:
a = 9
def fun():
    b=10
    return a,b

In [128]:
fun()

(9, 10)