<b>Python - Output Statements</b>

In [36]:
print("Hello World from Python!")

Hello World from Python!

In [37]:
type(print)

builtin_function_or_method

Whatever is specified in the print statement gets outputed on the console

In [38]:
print('Single quotes also works!')

Single quotes also works!

In [85]:
print("Multiline output \n can also be printed.")

Multiline output
 can also be printed.

In [40]:
print('String concatenation', 'also', 'works.')

String concatenation also works.

print function requires paranthesis around its arguments. Anything within the quotes will be printed as it is.

In [86]:
print('3+4')   #treats '3+4' as string and outputs as is

3+4

In [87]:
print(3+4)   #evaluates the expression and then prints the outcome

7

In [88]:
print('3 + 4 = ', (3+4) )  # strings and expressions can be concatenanted in the single print function call

3 + 4 =  7

In [44]:
print('age ', 35, 'name', 'ABC')  # strings and numbers can also be concatenated in single statement

age  35 name ABC

The detault separator between two values in print statements is space.

In [45]:
print("This", "is", "first", "line")

This is first line

Using end

The default endline character is newline i.e. \n

This can be changed by optional parameter 'end' as shown below

In [47]:
print("this is first line")
print("this is second line")

this is first line
this is second line

In [48]:
print("this is first line", end='.')
print("this is second line")

this is first line.this is second line

Interpreter

--The interpreter runs slower as the execution occurs simultaneously.

--Errors are identified and reported during the given actual runtime.

--Interpreted code is more portable as it can run on any machine with the appropriate interpreter.

--It requires less memory than compiled ones

--Debugging is easier due to the line-by-line execution of a code.

Compiler  

--The compiler is faster, as conversion occurs before the program executes.

--Errors are detected during the compilation phase and displayed before the execution of a program.

--Compile code needs to be recompiled to run on different machines.

--It requires more memory to translate the whole source code at once.

How Python Internally Works?
Code Editor: Code Editor is the first stage of programs where we write our source code. This is human-readable code written according to Pythonâ€™s syntax rules. It is where the execution of the program starts first.

Source code: The code written by a programmer in the code editor is then saved as a .py file in a system. This file of Python is written in human-readable language that contains the instructions for the computer.

Compilation Stage: The compilation stage of Python is different from any other programming language. Rather than compiling a source code directly into machine code. python compiles a source code into a byte code. In the compilation stage python compiler also checks for syntax errors. after checking all the syntax errors, if no such error is found then it generates a .pyc file that contains bytecode.

Python Virtual Machine(PVM): The bytecode then goes into the main part of the conversion is the Python Virtual Machine(PVM). The PVM is the main runtime engine of Python. It is an interpreter that reads and executes the bytecode file, line by line. Here In the Python Virtual Machine translate the byte code into machine code which is the binary language consisting of 0s and 1s. The machine code is highly optimized for the machine it is running on. This binary language is only understandable by the CPU of a system.

Running Program: At last, the CPU executes the given machine code and the main outcome of the program comes as performing task and computation you scripted at the beginning of the stage in your code editor.

Variable - it is a entity where you can store a data,which you can process in a run time or hold data

Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

In [1]:
a= 10 # a can be anything my name,city name, country name, product name it copuld be anything

In [2]:
#whenever we write a variable it reserve a memory(ram)

In [4]:
a-5

5

#in case of other programming languages let's java or c++ we have to defined a variable type in very first place wheather it is int based variable or whatever it is we have defined it but in case of python it is needed 
ex in case of java int a = 5

In [5]:
a= 5

In [6]:
a

5

In [7]:
type(a)

int

In [8]:
b=45.08

In [10]:
type(b) # here it is telling me that it is floating type variable

float

In [26]:
#in case of string we have wrap our whole data in double quotes or a single quotes it can be single word it can be a multiple word or sentance

c='this is second class of python by anand analytics'

In [31]:
#whenever i want to perform any operation on string type varible name>type . > hit tab
c.capitalize()

'This is second class of python by anand analytics'

In [32]:
#whenever we want to know details about any function just select the fuction and click shift+tab
type(c)

str

In [19]:
e=ghjghjkjlkjlkmk

NameError: name 'ghjghjkjlkjlkmk' is not defined

In [16]:
type(c)

str

In [17]:
d='c'

In [18]:
type(d)

str

In [1]:
# we have understood int,float and string now there is a another type of data set
f=True

In [15]:
a=True-False # why o/p is 1 bcz internally it is considering True as 1 and False as 0

In [17]:
True+True

2

In [19]:

True/False # mathematically it is infinity but in python it is going to give a 'zerodivision error'

ZeroDivisionError: division by zero

In [16]:
a

1

In [22]:
#complex number is combination of real number and the imaginary number
x=2+3j #j is reserve word along with a number to denote any complex number

In [21]:
type(x)

complex

In [23]:
#whenever i want to separate the imaginary and real number type variable name > click on .> click on tab
x.imag

3.0

In [25]:
x.conjugate

In [24]:
x.real

2.0

In [2]:
type(f)

bool

#Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

ExampleGet your own Python Server

x, y, z = "Orange", "Banana", "Cherry"

print(x)

print(y)

print(z)

One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

Example

x = y = z = "Orange"

print(x)

print(y)

print(z)

In [5]:
#Output Variables
#The Python print() function is often used to output variables.

x = "Python is awesome"
print(x)

Python is awesome

In [6]:
#In the print() function, you output multiple variables, separated by a comma:

#Example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [7]:
#You can also use the + operator to output multiple variables:

#Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [8]:
#For numbers, the + character works as a mathematical operator:

#Example
x = 5
y = 10
print(x + y)

15

In [9]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

#Example
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

#Example
x = 5
y = "John"
print(x, y)

5 John

Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [11]:
#Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [12]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [13]:
'''The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

Example
If you use the global keyword, the variable belongs to the global scope:'''

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [34]:
x = 5
print(type(x))

<class 'int'>

In [35]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set

# Type casting

Converting from one object type to a different object type

In [64]:
type(int(1.5))

int

In [65]:
int('1') #convert string to integer

1

In [66]:
type(int('1'))

int

<b>Converting integers to floats<b>

In [67]:
type(2)

int

In [68]:
type(float(2))

float

<b>Converting from strings to integers or floats<b>

In [69]:
int('1')  #Converting from string to int

1

In [70]:
type(int('1'))

int

In [71]:
float('1.5')  #Converting from string to float

1.5

In [72]:
type(float('1.5'))

float

In [73]:
int(1.5) #covert float to integer, loss of info

1

<b>Converting numbers to strings<b>

In [74]:
str(1)  #Converting  string to int

'1'

In [76]:



type(str(1))

str

In [77]:
str('1.5')#Converting  string to float

'1.5'

In [78]:
type(str('1.5'))

str

<b>Converting boolens to integers<b>

In [79]:
int(True)

1

In [80]:
float(True)

1.0

<b>Converting numbers to booleans<b>

In [81]:
bool(1.5)

True

In [82]:
bool(1)

True

In [83]:
bool(1.5)

True

In [84]:
bool(0)

False

Exercise
Q1. What will be type of expression ( 5 + 4.5 - 3)

Q2. Use type() function to check type of 'one', '1 or 2', '1.4' and '1/2'

Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

Python Assignment Operators
Assignment operators are used to assign values to variables:
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3


Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

Python Logical Operators
Logical operators are used to combine conditional statements:

and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

Q. Write a program that prints result of following expression.

123 - 282
----------
47.34 + 23

In [49]:
a = 123
b = 282

print('123 - 282 = ',a-b)

123 - 282 =  -159

In [50]:
c = 47.34
d = 23

print('47.34 + 23 = ', c+d)

47.34 + 23 =  70.34

Python - Input Statements

The input function is a simple way to get data from user. Here is example :

In [51]:
a = input('What is your name?')

What is your name? prachi

In [52]:
num1 = int(input("Enter 1st num"))
num2 = int(input("Enter 2nd num"))

print(num1+num2)

Enter 1st num 1
Enter 2nd num 2

3

In [53]:
type(a)

str

In [54]:
type(print())

NoneType

The string specified in the input fuction serves as message to the user about what needs to be keyed in. Whatever is entered 
by user is treated as string only. If number is entered by user, still it will be considered as string. For further processing 
it needs to be type casted to the appropriate data type.

In [55]:
input('What is your age?')

What is your age? 3

'3'

The user input can be saved as part of variable.

In [56]:
variable_name = input('message to the user')

message to the user fdfhhfd

In [57]:
name = input('What is your name?')
print(name)

What is your name? p

p

In [58]:
name = input('What is your name?')
print("Welcome", name)

What is your name? p

Welcome p

<b> Convert type of input variable <b>

In [60]:
age = input('What is your age?')
modified_age = int(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age? 4

You have entered age as  4
Type :  <class 'int'>

In [62]:
salary = input('What is your salary?')
modified_salary = float(salary)
print("You have entered salary as ", modified_salary)
print("Type : " , type(modified_salary))

What is your salary? 4000

You have entered salary as  4000.0
Type :  <class 'float'>